input[type=radio]{
   display: none;
}
input[type=radio]+label{
   display: inline-block;
   cursor: pointer;
   height: 40px;
   width: 150px;
   border:3px solid black;
   border-radius:3px;
   line-height: 38px;
   text-align: center;
   background-color: #fff;
}
input[type=radio]:checked+label{
   color: #fff;
   background-color:#fd8365;
   border-color: #ffe44b;
}
input[type=radio]+label:hover{
   border:3px solid gray;
}
.phonecheckBtn {
   width:16%;
   border:2px solid black;
   border-radius: 3px;
   padding:7px;
}
.phonecheckBtn:hover {
   border:2px solid gray;
}
#submitBtn {
   width:100%;
   border:3px solid black;
   border-radius: 3px;
   padding:7px;
}
#submitBtn:hover {
   border:3px solid gray;
}